In [20]:
print("group 6")

group 6

In [22]:
print("lama", 20 ,"years old")

lama 20 years old

In [1]:
print("hello world")

hello world

In [23]:
n=9.7
print(type(n))

<class 'float'>

In [1]:
n=9
print(type(n))

<class 'int'>

In [15]:
my_num= 6
print(type(my_num))
print(pow(3,3))
print(max(12,9))

<class 'int'>
27
12

In [24]:
tuple = "hi lama",12 ,4.9 ,"how are you?"
tinytuple= 4.9 , "hi lama"
print(tuple)
print(tuple[1:3])
print(tuple[2:])
print(tinytuple * 2)
print (tuple + tinytuple)

('hi lama', 12, 4.9, 'how are you?')
(12, 4.9)
(4.9, 'how are you?')
(4.9, 'hi lama', 4.9, 'hi lama')
('hi lama', 12, 4.9, 'how are you?', 4.9, 'hi lama')

In [28]:
m="its"
z= "simple"
my_list=['my','list', m , z]
print(my_list)
print(my_list[1:3])

['my', 'list', 'its', 'simple']
['list', 'its']