In [1]:
print("group 6")

group 6

In [57]:
my_string= "group 6"
print(my_string)
print (my_string * 2)
print(my_string +'class')
print(my_string.upper())
print(my_string.lower())
print (my_string.count('g'))
print(my_string.replace('r', 'p'))
'g' in my_string

group 6
group 6group 6
group 6class
GROUP 6
group 6
1
gpoup 6

True

In [2]:
print("lama", 20 ,"years old")

lama 20 years old

In [3]:
print("hello world")

hello world

In [4]:
n=9.7
print(type(n))

<class 'float'>

In [5]:
n=9
print(type(n))

<class 'int'>

In [6]:
my_num= 6
print(type(my_num))
print(pow(3,3))
print(max(12,9))

<class 'int'>
27
12

In [7]:
tuple = "hi lama",12 ,4.9 ,"how are you?"
tinytuple= 4.9 , "hi lama"
print(tuple)
print(tuple[1:3])
print(tuple[2:])
print(tinytuple * 2)
print (tuple + tinytuple)

('hi lama', 12, 4.9, 'how are you?')
(12, 4.9)
(4.9, 'how are you?')
(4.9, 'hi lama', 4.9, 'hi lama')
('hi lama', 12, 4.9, 'how are you?', 4.9, 'hi lama')

In [49]:
m="its"
z= "simple"
my_list=['my','list', m , z]
print(my_list)
print(my_list[1:3])
print(my_list.index(m))
print(my_list.index(z))
print(my_list.count(z))

['my', 'list', 'its', 'simple']
['list', 'its']
2
3
1

In [13]:
x=6 
print (x)
print (x+2)
print (x**2)
print (x/float (2))
print ('6')

6
8
36
3.0
6